@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://rawcdn.githack.com/kristoferjoseph/flexboxgrid/7.0/flexboxgrid.min.css');
@import './vars';
@import './components/index';

html{
    font-family: 'Press Start 2P';
}

.app{
    background-color: rgb(120,120,120);
    color: white;
    height: 100vh;
    align-items: space-between;
}

.github-star{
    position: fixed;
    bottom: 0;
    left: 0;
}